:root {
    --code-color: #ededed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.main-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: 1fr
}

.searchbarform {
    display: flex;
    flex-direction: row;
}

.searchbar {
    display: flex;
    flex-direction: column;
}

/*
    Markdown Formatting
*/

.markdown{
    font-size: medium;
}

.markdown>pre {
    background-color: var(--code-color);
    border-radius: 5px;
    padding: 1rem;
}

.markdown>h1:hover{
    text-decoration: underline;
}

.markdown>h2:hover{
    text-decoration: underline;
}

.markdown>h3:hover{
    text-decoration: underline;
}

.markdown code{
    background-color: var(--code-color);
    height: 100%;
    border-radius: 5px;
    padding: 0 0.5rem 0 0.5rem;
    font-size: large;
}