<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/edit.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <script type="text/javascript" src="/static/js/markdown.js"></script>
    <title>[Edit] {{.Title}} - The Funny Wiki</title>
</head>

<body>
    <div class="flex-col-center">
        <div class="main-content">
            <a href="/view/{{.Id}}">Back to Article Page</a>
            <h1 id="title-preview">{{.Title}} (Preview)</h1>
            <form id="edit-form" class="edit-form" action="/save/{{.Id}}" method="POST">
                <textarea id="title-editor" class="title-editor" name="title" rows="1" cols="80">{{printf "%s" .Title}}</textarea>
                <textarea id="content-editor" class="content-editor" name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea>
                <div><input type="submit" value="Save"></div>
            </form>
            <div>
                <div class="markdown" id="article-preview">{{printf "%s" .Body}}</div>
            </div>
            <div>
                <h2>Tags</h2>
                {{range .Tags}}
                <button class="tag-button">
                    {{.}}
                </button>
                {{end}}
            </div>
        </div>
    </div>


    <script type="text/javascript" src="/static/js/edit.js"></script>
</body>

</html>