<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <title>The Funny Wiki</title>
</head>

<body>
    <h1>Welcome to The Funny Wiki</h1>
    <h3>Where dreams come to die</h3>

    <label for="query">Search for a specific page</label>
    <form action="/search" class="searchbarform">
        <div class="searchbar">
            <input type="text" id="query" name="query">
        </div>

        <div class="searchsubmit">
            <button type="submit">Search</button>
        </div>
    </form>

    <p>or</p>

    <p>Search by tag</p>


    <footer></footer>
</body>

</html>