<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <title>The Funny Wiki</title>
</head>

<body>
    <header>
        <a href="/new"><button>Create New Article</button></a>
    </header>
    <div class="main-content">
        <div>
            <h1>Welcome to The Funny Wiki</h1>
            <h3>Where dreams come to die</h3>

            <label for="query">Search for a specific page</label>
            <form action="/search" class="searchbarform">
                <div class="searchbar">
                    <input type="text" id="query" name="query">
                </div>

                <div class="searchsubmit">
                    <button type="submit">Search</button>
                </div>
            </form>

            <h4>or</h4>

            <div>
                <p>Search by tag</p>
                {{range $tag := .Tags}}
                <button class="tag-button">
                    {{.}}
                </button>
                {{end}}
            </div>
        </div>
        <div>
            <h2>Browse Articles</h2>
            <ul>
                {{$titles := .ArticleTitles}}
                {{range $index, $id := .ArticleIds}}
                <li>
                    <a href="/view/{{$id}}">{{index $titles $index}}</a>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</body>

</html>