<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <script type="text/javascript" src="/static/js/markdown.js"></script>
    <title>{{.Title}} - The Funny Wiki</title>
</head>

<body>
    <nav class="main-header">
        <a href="/"><img src="/static/images/favicon.png" height="100px"></a>
        <form action="/search" class="search-bar-form">
            <input class="search-bar" type="text" id="query" name="query" aria-label="Searchbar">
            <button class="search-submit" type="submit" aria-label="Search article button">Search</button>
        </form>
    </nav>
    <div class="flex-col-center">
        <h1>{{.Title}}</h1>
        <p>[<a href="/edit/{{.Id}}">edit</a>]</p>
        <div class="markdown article-content">
            {{printf "%s" .Body}}
        </div>

    </div>

    <h2>Tags</h2>
    {{range $index, $tag := .Tags}}
    <button aria-label="Search for articles labeled: {{$tag}}" class="tag-button">
        {{$tag}}
    </button>
    {{end}}

</body>

</html>