<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <script type="text/javascript" src="/static/js/markdown.js"></script>
    <title>{{.Title}} - The Funny Wiki</title>
</head>

<body>
    <div class="">
        <h1>{{.Title}}</h1>
        <p>[<a href="/edit/{{.Id}}">edit</a>]</p>
        <div class="markdown article-content">
            {{printf "%s" .Body}}
        </div>

    </div>

    <h2>Tags</h2>
    {{range .Tags}}
    <button class="tag-button">
        {{.}}
    </button>
    {{end}}

</body>

</html>